<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restkeeper.store.mapper.DishMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.restkeeper.store.entity.Dish">
        <id column="dish_id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="dish_name" property="name" />
        <association property="dishCategory" column="category_id" select="com.restkeeper.store.mapper.DishCategoryMapper.selectById" ></association>
        <collection property="flavorList" column="dish_id" select="com.restkeeper.store.mapper.DishFlavorMapper.selectFlavors"></collection>
    </resultMap>

</mapper>
